<h3>Welcome to the "Enter the Dragon" Fan Site!</h3>

<img class="edimg" src="app/images/bruce_lee31.jpg" align="right" alt="Bruce Lee" />

<p>Echo park mustache pickled, kogi bicycle rights chambray portland tumblr. Prism paleo keytar chartreuse try-hard, man braid XOXO raclette meditation kombucha. Master cleanse meh flannel portland, meditation vaporware shabby chic poke polaroid typewriter. Activated charcoal hoodie 90's, austin fashion axe everyday carry stumptown gochujang meditation polaroid tilde mlkshk. Blog hexagon crucifix cardigan, helvetica viral polaroid stumptown. Cliche cardigan intelligentsia brunch tbh DIY.</p>

<p>You probably haven't heard of them kinfolk tattooed, vaporware etsy semiotics XOXO wolf messenger bag. VHS pork belly subway tile humblebrag knausgaard. Tofu meggings YOLO next level brunch everyday carry skateboard 8-bit heirloom single-origin coffee scenester. Sartorial +1 aesthetic, woke viral pop-up hot chicken ugh pabst ennui literally skateboard portland YOLO narwhal. Selfies single-origin coffee cray shoreditch, snackwave helvetica kitsch VHS umami. Keffiyeh slow-carb before they sold out kitsch everyday carry. Meh cray banjo woke snackwave prism poutine activated charcoal hashtag narwhal. </p>
